@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --color-gray-50: rgb(650, 406, 351);
  --color-gray-100: rgb(585, 343, 289);
  --color-gray-200: rgb(520, 286, 233);
  --color-gray-300: rgb(455, 233, 183);
  --color-gray-400: rgb(390, 185, 139);
  --color-gray-500: rgb(325, 142, 101);
  --color-gray-600: rgb(260, 104, 69);
  --color-gray-700: rgb(195, 70, 43);
  --color-gray-800: rgb(130, 42, 22);
  --color-gray-900: rgb(65, 19, 8);
}

